<form method='POST' action="/variants/{% if variant.id %}{{variant.id}}{% endif %}" >
    {% if variant.id %}
        <input type="hidden" name="id" value="{{variant.id}}" />
    {% endif %}
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{variant.title}}" />
        <br>
        <label for="slug">Slug:</label>
        <input type="text" name='slug' id='slug' value='{{variant.slug}}' />
        <br>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" value="{{variant.price}}" step="any">
        <br>
        <label for="inventory">Available Inventory:</label>
        <input type="text" name='inventory' id='inventory' value='{{variant.inventory}}' />
        <br>
        <label for="description">Variant Description:</label>&nbsp;
        <textarea name="description" id="description" cols="50" rows="10">{{variant.description}}</textarea>
    </div>
    <div>
        <label>Product:</label>
        <select name="productId">
            {% for product in products %}
                <option 
                    value="{{product.id}}" 
                    {% if product.id == variant.productId %}
                        selected='selected'
                    {% endif %}
                >
                    {{product.title}}
                </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>